@import '../variables.css';

/* Module */

.root {
  padding: 16px;
  background: #ffffff;
  box-shadow: 0 0 1px rgba(0,0,0,.15);
  font-weight: 100;
  font-size: 1em; /* ~16px; */
  font-family: var(--font-family-base);
  line-height: 1.375; /* ~22px */
}

/* Components */

.title {
  margin: 0 0 16px;
  font-weight: 400;
  color: #757575;
}

.item {
  margin-bottom: 16px;
}

.item:last-child {
  margin-bottom: 0;
}
