@import '../variables.css';

.root {
  position: relative;
}

.container {
  width: 48px;
  height: 12px;
  padding: 1px 0;
  font-size: 0.5em;
  background: #000000;
  border-radius: 3px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  font-family: var(--font-family-base);
  line-height: 140%;
}

.error .container {
  background: #f44336;
}

.success .container {
  background: #4caf50;
}
