{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "globals": {
    "__DEV__": true
  },
  "env": {
    "browser": true
  },
  "plugins": [
    "flowtype"
  ],
  "rules": {
    "arrow-parens": "off",
    "generator-star-spacing": "off",
    "no-useless-escape": 1,
    "import/extensions": "off",
    "import/no-extraneous-dependencies": "off",
    "react/forbid-prop-types": "off",
    "react/jsx-filename-extension": "off",
    "react/no-danger": "off",
    "react/no-unused-prop-types": "off",
    "new-cap": [
      2,
      {
        "capIsNewExceptions": [
          "Map",
          "List"
        ]
      }
    ]
  }
}
