.root {
  margin-bottom: 12px;
}

.container {
  display: flex;
}

.avatar {
  width: 36px;
  margin-right: 8px;
}

.content {
  width: 100%;
}

.itemTitle {
  line-height: 120%;
}

.itemContent {
  font-size: 0.8em;
  font-weight: 300;
  color: #546063;
}
