@import '../variables.css';

:root {
  --brand-color: #61dafb;
}

@media all and (min-width: 600px) {
  .root {
    width: 56px;
  }

  .container {
    padding: 8px 16px;
  }
}

.root {
  background: #000;
  color: #fff;
}

.container {
  padding: 8px;
}
