@import '../variables.css';

:root {
  --brand-color: #61dafb;
}

.root {
  background: #000000;
  color: #ffffff;
}

@media all and (min-width: 600px) and (orientation: portrait) {
  .root {
    width: 56px;
  }
}

.container {
  padding: 8px;
}
