.root {
  margin: 0 0 16px;
  padding: 16px 0 0;
}

.title {
  margin: 0 0 16px;
  padding: 0 0 0 16px;
}

.loading {
  padding: 16px;
  text-align: center;
}

@media all and (min-width: 600px) {
  .root {
    margin: 16px;
    width: 500px;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
  }
}
